@font-face {
  font-family: "Vazir";
  src: url(../public/fonts/Vazir.eot);
  /* IE9 Compat Modes */
  src: url(../public/fonts/Vazir.eot) format("embedded-opentype"),
    url(../public/fonts/Vazir.woff2) format("woff2"),
    url(../public/fonts/Vazir.woff) format("woff"),
    url(../public/fonts/Vazir.ttf) format("truetype");
  /* Safari, Android, iOS */
}

body {
  font-family: "Vazir", Arial, Helvetica, sans-serif !important;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}