@import url(../public/fonts/css/fontiran.css);

html {
  font-family: "iranyekan" !important;
}

body {
  font-family: "iranyekan" !important;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background-image: url("../public/icons/right-arrow.svg");
}
.slide1 {
  background-image: url("../public/slide1.jpg");
}
.slide2 {
  background-image: url("../public/slide2.jpg");
}
.Toastify__toast-body {
  font-family: "iranyekan" !important;
  direction: rtl;
}
@media (max-width: 600px) {
  .Toastify__toast-container {
    margin-right: -15px;
  }
}
.swiper-button-next-blog::after,
.swiper-button-prev-blog::after {
  background-image: url("../public/icons/right-arrow.svg");
}
