@import url(../public/fonts/css/fontiran.css);
@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  font-family: "iranyekan" !important;
}

body {
  font-family: "iranyekan" !important;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.slide1 {
  background-image: url("../public/slide1.jpg");
}
.slide2 {
  background-image: url("../public/slide2.jpg");
}
.Toastify__toast-body {
  font-family: "iranyekan" !important;
  direction: rtl;
}
@media (max-width: 600px) {
  .Toastify__toast-container {
    margin-right: -15px;
  }
}
.swiper-button-next-client::after,
.swiper-button-prev-client::after,
.swiper-button-next-blog::after,
.swiper-button-prev-blog::after,
.swiper-button-next::after,
.swiper-button-prev::after {
  background-image: url("../public/icons/right-arrow.svg");
}
.WP,
.Ez {
  rotate: 180deg;
}
.image-gallery-image{
  width: 300px;
  height: 300px;
}
.image-gallery-thumbnail-image{
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  margin-top: 15px;
  border: none;
}
.image-gallery-right-nav:hover,.image-gallery-left-nav:hover{
  color: red;
}
.image-gallery-thumbnail:hover {
  border: 3px solid #b8b7b7;
  border-radius: 10px;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;

}